body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(249,241,241);
    color: rgb(92, 64, 51);
    overflow-y: hidden;
}

.heading {
    font-weight: larger;
    font-size: large;
}

#vowel-input {
    background-color: rgb(196, 164, 132)	;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(194, 178, 128)

}

#vowel-input:focus {
    border: 2px dashed;
    border-color: rgb(0, 0, 0);
    font: larger
}

#output-el {
    color: rgb(88, 24, 69);
    font-size: large;
}